<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Noise Manipulation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32FBDFFA1DF49E3A00406E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FBE0131DF49E3A00406E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FBE01E1DF49E3A00406E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
